@page "/";
@inject ISeasonDashboardViewModel _viewModel;

<h3>Season overview</h3>
@if (_viewModel.SeasonFilterOptions.Any())
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
                <RadzenDropDown TValue="string" AllowClear="true" Placeholder="All time" Data="@_viewModel.SeasonFilterOptions" @bind-Value=@_viewModel.SeasonFilterValue Change="@_viewModel.CalculateSeasonStats"></RadzenDropDown>
            </div>
        </div>
    </div>
}
<DashboardShared ViewModel="_viewModel"></DashboardShared>

