@page "/";
@inject ISeasonDashboardViewModel _viewModel;
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Season overview</h3>
        </div>
    </div>
</div>
@if (_viewModel.SeasonFilterOptions.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <RadzenDropDown TValue="string" AllowClear="true" Placeholder="All time" Data="@_viewModel.SeasonFilterOptions" @bind-Value=@_viewModel.SeasonFilterValue Change="@_viewModel.CalculateSeasonStats"></RadzenDropDown>
            </div>
        </div>
    </div>
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-9 col-xxl-9">
            <DashboardShared ViewModel="_viewModel"></DashboardShared>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3">
            @if (_viewModel != null && _viewModel.TeamStatistics.Any())
            {
                <p>Top win streaks (active)</p>
                <RadzenDataGrid Data="_viewModel.TeamStatistics.OrderByDescending(x=>x.ActiveWinningStreak).Take(3)" TItem="TeamStatistics">
                    <Columns>
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="CurrentWinningStreak" Title="Streak" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Attacker" Title="Attacker" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Defender" Title="Defender" />
                    </Columns>
                </RadzenDataGrid>
                <br />
            }            
            @if (_viewModel != null && _viewModel.TeamStatistics.Any())
            {
                <p>Top win streaks (highest)</p>
                <RadzenDataGrid Data="_viewModel.TeamStatistics.OrderByDescending(x=>x.HIghestWinningStreak).Take(3)" TItem="TeamStatistics">
                    <Columns>
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="HIghestWinningStreak" Title="Streak" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Attacker" Title="Attacker" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Defender" Title="Defender" />
                    </Columns>
                </RadzenDataGrid>
                <br />
            }
            @if (_viewModel != null && _viewModel.TeamStatistics.Any())
            {
                <p>Top losing streaks (active)</p>
                <RadzenDataGrid Data="_viewModel.TeamStatistics.OrderByDescending(x=>x.ActiveLosingStreak).Take(3)" TItem="TeamStatistics">
                    <Columns>
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="CurrentLosingStreak" Title="Streak" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Attacker" Title="Attacker" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Defender" Title="Defender" />
                    </Columns>
                </RadzenDataGrid>
                <br />
            }            
            @if (_viewModel != null && _viewModel.TeamStatistics.Any())
            {
                <p>Top losing streaks (highest)</p>
                <RadzenDataGrid Data="_viewModel.TeamStatistics.OrderByDescending(x=>x.HIghestLosingStreak).Take(3)" TItem="TeamStatistics">
                    <Columns>
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="HIghestLosingStreak" Title="Streak" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Attacker" Title="Attacker" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Defender" Title="Defender" />
                    </Columns>
                </RadzenDataGrid>
                <br />
            }
            @if (_viewModel != null && _viewModel.TeamStatistics.Any())
            {
                <p>Top Elo ratings</p>
                <RadzenDataGrid Data="_viewModel.TeamStatistics.OrderByDescending(x=>x.EloRating).Take(3)" TItem="TeamStatistics">
                    <Columns>
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="EloRatingFormatted" Title="Rating" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Attacker" Title="Attacker" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Defender" Title="Defender" />
                    </Columns>
                </RadzenDataGrid>
                <br />
            }
            @if (_viewModel != null && _viewModel.TeamStatistics.Any())
            {
                <p>Top win rates (5+ matches)</p>
                <RadzenDataGrid Data="_viewModel.TeamStatistics.Where(x=>x.MatchesPlayed > 5).OrderByDescending(x=>x.WinRate).Take(3)" TItem="TeamStatistics">
                    <Columns>
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="WinRateFormatted" Title="Win rate" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Attacker" Title="Attacker" />
                        <RadzenDataGridColumn TItem="TeamStatistics" Property="Defender" Title="Defender" />
                    </Columns>
                </RadzenDataGrid>
                <br />
            }
        </div>
    </div>
</div>

